.dccache
demo-chart/
temp.yaml
temp.jsonnet
terraform/terraform.tfstate
terraform/tf.plan
secured-secrets/base/.DS_Store
.DS_Store
terraform/main.tf
terraform/terraform.tfstate.backup
terraform/plan.tfplan
